<div class="card text-bg-light mb-3 ms-5" style="max-width: 36rem;"> 
    <div id="<%= dom_id twitter %>">
       <div class="card-body">  
          <h5 class="card-title fs-5 fw-5 "><strong></strong><%= twitter.username %></h5>
          <p class="card-text fs-5"><strong></strong><%= twitter.description %>
           <p><%= link_to "Mostrar este twitter", twitter, class: "link-mostrar fs-5" %></p>
       </div>
    </div>
</div>