
<div class="container">
  <div class="row">  
    <div class="col-12"> 
      <h1>Twittear</h1>

          <%= render "form", twitter: @twitter %>

          <br>

          <div class="back fs-4">
            <%= link_to "Back to twitters", twitters_path %>
          </div>
    </div>
  </div>
</div>
